<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
    <script src="/static/css/js/jquery-3.4.1.min.js"></script>
    <script src="/static/css/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/css/bootstrap.min.css">
    <style>
        .regist1 {
            margin: 100px auto;
            width: 500px;
            height: 400px;
            background-color: #f2ffab;
        }

        .regist2 {
            font-size: 32px;
            text-align: center;

        }

        .regist3 {
            margin-left: 50px;
        }

        #form1 {
            font-size: 20px;

        }

        .regist4 {
            font-size: 24px;
            margin: 20px 0 0 40px;
            background-color: #bcff84;
            border-radius: 4px;

        }

        .regist4:hover {

            border: #f0ffc7;
            cursor: pointer;
        }

        .regist01 {
            margin-top: 10px;
            width: 200px;
            height: 30px;
            font-size: 24px;
            border-radius: 6px;
        }

        .agreement {
            width: 20px;
            height: 18px;
            margin-left: 20px;
        }

        .regagreement {
            font-size: 24px;
            color: #ff0d26;
        }

        .regagreement:hover {
            cursor: pointer;
        }

        .modal-content {
            font-size: 24px;
        }

        .ischangcheckbox:hover {
            cursor: pointer;
        }

    </style>
    <script type="text/javascript">
        window.onload = function () {
            var name = document.getElementById("add");
            name.onclick = function () {
                if (!$("#agreement")[0].checked) {
                    alert("不同意注册协议，不能注册")
                    return false
                }
                var form = document.getElementById("form1")
                var userreg = RegExp(/^[A-z_][A-z0-9_]{1,12}$/);
                var user_chinese_reg = RegExp(/[\u4E00-\u9FA5]{1,8}$/)
                var phonereg = RegExp(/^1([38][0-9]|4[579]|5[0-3,5-9]|6[6]|7[0135678]|9[89])\d{8}$/);
                var emailreg = RegExp(/^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/);
                //必须大小写字母数字，6-32位
                var passwordreg = RegExp(/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,32}$/);
                if ((!(userreg.test($("#username").val().trim()))) && (!(user_chinese_reg.test($("#username").val().trim())))) {
                    alert("用户名是1-12位的字母数字或‘_’，也可以是1-8个纯汉子");
                    return false
                }
                if (!phonereg.test($("#phone").val().trim())) {
                    alert("手机号不正确！");
                    return false
                }
                if (!emailreg.test($("#email").val().trim())) {
                    alert("邮箱不合法！")
                    return false
                }

                if ($("#password").val() != $("#repassword").val().trim()) {
                    alert("两次密码不一致！密码必须是包含大小写字母和数字长度在6-32");
                    return false
                }

                if ((!(userreg.test($("#username").val().trim()))) && (!(user_chinese_reg.test($("#username").val().trim()))) || (!phonereg.test($("#phone").val())) || (!emailreg.test($("#email").val())) || (!passwordreg.test($("#password").val()))) {

                    $("form")[0].action = "javascript:;";
                    $("form")[0].method = "";
                    alert("请注意：密码必须是包含大小写字母、数字，长度在6-32");

                } else {

                    $("form")[0].action = "regist";
                    $("form")[0].method = "post";
                    alert("合法用户名");
                }
            }
        }
      $(function (){
          $(".ischangcheckbox").on("click",function (){
              $("#agreement")[0].checked=!$("#agreement")[0].checked
          })
      })


    </script>
</head>
<body>
{{template "front/header.html" .}}
<div class="regist1">
    <p class="regist2">用户注册</p>
    <form name="regist" id="form1">
        <br>
        <span class="regist3">用 &nbsp;户 &nbsp;名：</span> <input type="text" name="username" class="regist01"
                                                               id="username">
        <br>
        <span class="regist3">手 &nbsp;机 &nbsp;号：</span> <input type="text" name="phone" class="regist01" id="phone">
        <br>
        <span class="regist3">邮 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱：</span> <input type="text" name="email"
                                                                                     class="regist01" id="email">
        <br>
        <span class="regist3">密 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码：</span> <input type="password" name="password"
                                                                                     class="regist01" id="password">
        <br>
        <span class="regist3">确认密码：</span> <input type="password" name="repassword" class="regist01" id="repassword">
        <br>
        <input class="regist4" type="submit" value="立即注册" id="add">
        <input class="agreement" id="agreement" type="checkbox"> <span class="ischangcheckbox">同意并阅读</span> <span
            class="regagreement"> <button type="button" data-toggle="modal" data-target="#myModal">注册协议</button></span>
    </form>
</div>
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            1.
            用户在使用维卡社区论坛的服务时，必须遵守《网络安全法》、《计算机信息网络国际联网安全保护管理办法》、《互联网信息服务管理办法》、《互联网电子公告服务管理规定》、《维护互联网安全的决定》、《互联网新闻信息服务管理规定》、《长江保护法》、《测绘法》等中华人民共和国相关法律法规的规定，用户应同意将不会利用本服务进行任何违法或不正当的活动，包括但不限于下列行为:
            （1）上载、展示、张贴、传播或以其它方式传送含有下列内容之一的信息：
            　　1）反对宪法所确定的基本原则的；
            　　2）危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；
            　　3）损害国家荣誉和利益的；
            　　4）煽动民族仇恨、民族歧视、破坏民族团结的；
            　　5）破坏国家宗教政策，宣扬邪教和封建迷信的；
            　　6）散布谣言，扰乱社会秩序，破坏社会稳定的；
            　　7）散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；
            　　8）侮辱或者诽谤他人，侵害他人合法权利的；
            　　9）含有虚假、有害、胁迫、侵害他人隐私、骚扰、侵害、中伤、粗俗、猥亵、或其它道德上令人反感的内容；
            　　10）与电鱼、毒鱼、炸鱼等破坏渔业资源和生态环境的捕捞行为相关的违法违规内容（包括但不限于文字、图片、动态、视频等）；
            　　11）含有可能涉及侵害国家主权和领土完整、违反国家关于地图绘制、发布相关规定的内容；
            　　12）含有中国法律、法规、规章、条例以及任何具有法律效力之规范所限制或禁止的其它内容的；
            （2）不得为任何非法目的而使用网络服务系统；
            （3）不利用维卡社区论坛的服务从事以下活动：
            　　1) 未经允许，进入计算机信息网络或者使用计算机信息网络资源的；
            　　2) 未经允许，对计算机信息网络功能进行删除、修改或者增加的；
            　　3) 未经允许，对进入计算机信息网络中存储、处理或者传输的数据和应用程序进行删除、修改或者增加的；
            　　4) 故意制作、传播计算机病毒等破坏性程序的；
            　　5) 其他危害计算机信息网络安全的行为。
            2.
            用户违反本协议或相关的服务条款的规定，导致或产生的任何第三方主张的任何索赔、要求或损失，包括合理的律师费，您同意赔偿维卡社区论坛与合作、关联，并使之免受损害。对此，维卡社区论坛有权视用户的行为性质，采取包括但不限于删除用户发布信息内容、暂停使用许可、终止服务、限制使用、回收维卡社区论坛帐号、追究法律责任等措施。对恶意注册维卡社区论坛帐号或利用维卡社区论坛帐号进行违法活动、捣乱、骚扰、欺骗、其他用户以及其他违反本协议的行为，维卡社区论坛有权回收其帐号。同时，维卡社区论坛会视司法部门的要求，协助调查。
            3. 用户不得对本服务任何部分或本服务之使用或获得，进行复制、拷贝、出售、转售或用于任何其它商业目的。
            4.
            用户须对自己在使用维卡社区论坛服务过程中的行为承担法律责任。用户承担法律责任的形式包括但不限于：对受到侵害者进行赔偿，以及在维卡社区论坛首先承担了因用户行为导致的行政处罚或侵权损害赔偿责任后，用户应给予维卡社区论坛等额的赔偿。
            5. 用户在使用维卡社区论坛服务时遵守以下互联网底线：
            　　1）法律法规底线
            　　2）社会主义制度底线
            　　3）国家利益底线
            　　4）公民合法权益底线
            　　5）社会公共秩序底线
            　　6）道德风尚底线
            　　7）信息真实性底线
            四、服务内容
            1. 维卡社区论坛网络服务的具体内容由维卡社区论坛根据实际情况提供。
            2. 除非本服务协议另有其它明示规定，维卡社区论坛所推出的新产品、新功能、新服务，均受到本服务协议之规范。
            3. 为使用本服务，您必须能够自行经有法律资格对您提供互联网接入服务的第三方，进入国际互联网，并应自行支付相关服务费用。此外，您必须自行配备及负责与国际联网连线所需之一切必要装备，包括计算机、数据机或其它存取装置。
            4. 鉴于网络服务的特殊性，用户同意维卡社区论坛有权不经事先通知，随时变更、中断或终止部分或全部的网络服务（包括收费网络服务）。维卡社区论坛不担保网络服务不会中断，对网络服务的及时性、安全性、准确性也都不作担保。
            5. 免责声明：因以下情况造成网络服务在合理时间内的中断，维卡社区论坛无需为此承担任何责任；
            （1）维卡社区论坛需要定期或不定期地对提供网络服务的平台或相关的设备进行检修或者维护，维卡社区论坛保留不经事先通知为维修保养、升级或其它目的暂停本服务任何部分的权利。
            （2）因台风、地震、洪水、雷电或恐怖袭击等不可抗力原因；
            （3）用户的电脑软硬件和通信线路、供电线路出现故障的；
            （4）因病毒、木马、恶意程序攻击、网络拥堵、系统不稳定、系统或设备故障、通讯故障、电力故障、银行原因、第三方服务瑕疵或政府行为等原因。
            尽管有前款约定，维卡社区论坛将采取合理行动积极促使服务恢复正常。
            6.
            本服务或第三人可提供与其它国际互联网上之网站或资源之链接。由于维卡社区论坛无法控制这些网站及资源，您了解并同意，此类网站或资源是否可供利用，维卡社区论坛不予负责，存在或源于此类网站或资源之任何内容、广告、产品或其它资料，维卡社区论坛亦不予保证或负责。因使用或依赖任何此类网站或资源发布的或经由此类网站或资源获得的任何内容、商品或服务所产生的任何损害或损失，维卡社区论坛不承担任何责任。
            7.
            用户明确同意其使用维卡社区论坛网络服务所存在的风险将完全由其自己承担。用户理解并接受下载或通过维卡社区论坛服务取得的任何信息资料取决于用户自己，并由其承担系统受损、资料丢失以及其它任何风险。维卡社区论坛对在服务网上得到的任何商品购物服务、交易进程、招聘信息，都不作担保。
            8.　用户须知：维卡社区论坛提供的各种挖掘推送服务中，推送给用户曾经访问过的网站或资源之链接是基于机器算法自动推出，维卡社区论坛不对其内容的有效性、安全性、合法性等做任何担保。
            9. 维卡社区论坛有权于任何时间暂时或永久修改或终止本服务（或其任何部分），而无论其通知与否，维卡社区论坛对用户和任何第三人均无需承担任何责任。
            10. 终止服务
            您同意维卡社区论坛得基于其自行之考虑，因任何理由，包含但不限于长时间（超过一年）未使用，或维卡社区论坛认为您已经违反本服务协议的文字及精神，终止您的密码、帐号或本服务之使用（或服务之任何部分），并将您在本服务内任何内容加以移除并删除。您同意依本服务协议任何规定提供之本服务，无需进行事先通知即可中断或终止，您承认并同意，维卡社区论坛可立即关闭或删除您的帐号及您帐号中所有相关信息及文件，及/或禁止继续使用前述文件或本服务。此外，您同意若本服务之使用被中断或终止或您的帐号及相关信息和文件被关闭或删除，维卡社区论坛对您或任何第三人均不承担任何责任。
            五、知识产权和其他合法权益（包括但不限于名誉权、商誉权）
            1. 用户权利保护
            若您认为他人维卡社区论坛帐号（包括维卡社区论坛帐号的头像、用户名、昵称、简介）的使用侵犯了您的合法权益，请按照以下说明向维卡社区论坛提供资料∶
            请注意：如果权利通知的陈述失实，权利通知提交者将承担对由此造成的全部法律责任（包括但不限于赔偿各种费用及律师费）。如果上述个人或单位不确定网络上可获取的资料是否侵犯了其知识产权和其他合法权益，维卡社区论坛建议该个人或单位首先咨询专业人士。
            为了维卡社区论坛有效处理上述个人或单位的权利通知，请使用以下格式（包括各条款的序号）：
            1）权利人对涉嫌侵权内容拥有合法权益的权属证明；
            2）请充分、明确地描述被侵犯了合法权益的情况并请提供涉嫌侵权的第三方帐号信息（包括用户名、昵称、头像、简介）和网址（如果有）。
            3）请指明涉嫌侵权帐号的哪些内容侵犯了第2项中列明的权利。
            4）请提供权利人具体的联络信息，包括姓名、身份证或护照复印件（对自然人）、单位登记证明复印件（对单位）、通信地址、电话号码、传真和电子邮件。
            5）请在权利通知中加入如下关于通知内容真实性的声明： “我保证，本通知中所述信息是充分、真实、准确的，如果本权利通知内容不完全属实，本人将承担由此产生的一切法律责任。”
            6）请您签署该文件，如果您是依法成立的机构或组织，请您加盖公章。

            2.　对于用户通过维卡社区论坛服务（包括但不限于贴吧、知道、维卡社区论坛云等）上传到维卡社区论坛网站上可公开获取区域的任何内容，用户同意维卡社区论坛在全世界范围内具有免费的、永久性的、不可撤销的、非独家的和完全再许可的权利和许可，以使用、复制、修改、改编、出版、翻译、据以创作衍生作品、传播、表演和展示此等内容（整体或部分），和/或将此等内容编入当前已知的或以后开发的其他任何形式的作品、媒体或技术中。
            3. 维卡社区论坛拥有本网站内所有资料的版权。任何被授权的浏览、复制、打印和传播属于本网站内的资料必须符合以下条件：
            　　所有的资料和图象均以获得信息为目的；
            　　所有的资料和图象均不得用于商业目的；
            　　所有的资料、图象及其任何部分都必须包括此版权声明；
            　　本网站所有的产品、技术与所有程序均属于维卡社区论坛知识产权，在此并未授权。“维卡社区论坛”及相关图形等为维卡社区论坛的注册商标。
            　　未经维卡社区论坛许可，任何人不得擅自（包括但不限于：以非法的方式复制、传播、展示、镜像、上载、下载）使用。否则，维卡社区论坛将依法追究法律责任。
            六、青少年用户特别提示
            青少年用户必须遵守全国青少年网络文明公约：
            要善于网上学习，不浏览不良信息；要诚实友好交流，不侮辱欺诈他人；要增强自护意识，不随意约会网友；要维护网络安全，不破坏网络秩序；要有益身心健康，不沉溺虚拟时空。
            七、其他
            1. 本协议的订立、执行和解释及争议的解决均应适用中华人民共和国法律。
            2. 如本协议中的任何条款无论因何种原因完全或部分无效或不具有执行力，本协议的其余条款仍应有效并且有约束力。
            请您在发现任何违反本服务协议之情形时，通知维卡社区论坛。
            --------内容条例如有不妥请及时联系。
            按电脑左上角《Esc》，或在内容外边点击可以退出
        </div>
    </div>
</div>

{{template "front/footer.html" .}}
</body>
</html>